In [3]:
import re 
import tweepy 
from tweepy import OAuthHandler 
from textblob import TextBlob
import datetime
import pandas as pd
import stock_data

In [4]:
class TwitterClient(object): 
    ''' 
    Generic Twitter Class for sentiment analysis. 
    '''
    def __init__(self): 
        ''' 
        Class constructor or initialization method. 
        '''
        # keys and tokens from the Twitter Dev Console 
        consumer_key = 'N0EyJWCQ9AAAEBO0FfumQnfe6'
        consumer_secret = '78ehOmcz9sQMCADWDKO5Hm48pksuE4EujHu6zOFFNl0hHKHyI3'
        access_token = '106210504-hthpR2CQ8yWInGhtdYH8KCGGNEyniHg4zxSJJxfg'
        access_token_secret = 'MrN1vw0c6Nylh90TwtmD8OXnsgk1z7l5HUYdCkSTVd8GB'
  
        # attempt authentication 
        try: 
            # create OAuthHandler object 
            self.auth = OAuthHandler(consumer_key, consumer_secret) 
            # set access token and secret 
            self.auth.set_access_token(access_token, access_token_secret) 
            # create tweepy API object to fetch tweets 
            self.api = tweepy.API(self.auth) 
        except: 
            print("Error: Authentication Failed") 
  
    def clean_tweet(self, tweet): 
        ''' 
        Utility function to clean tweet text by removing links, special characters 
        using simple regex statements. 
        '''
        return ' '.join(re.sub("(@[A-Za-z0-9]+)|([^0-9A-Za-z \t])|(\w+:\/\/\S+)", " ", tweet).split()) 
  
    def get_tweet_sentiment(self, tweet): 
        ''' 
        Utility function to classify sentiment of passed tweet 
        using textblob's sentiment method 
        '''
        # create TextBlob object of passed tweet text 
        analysis = TextBlob(self.clean_tweet(tweet)) 
        # set sentiment 
        if analysis.sentiment.polarity > 0: 
            return 'positive'
        elif analysis.sentiment.polarity == 0: 
            return 'neutral'
        else: 
            return 'negative'
  
    def get_tweets(self, query, count = 100, max_id = None): #"1217210436359376890"
        ''' 
        Main function to fetch tweets and parse them. 
        '''
        # empty list to store parsed tweets 
        tweets = [] 
  
        try: 
            # call twitter api to fetch tweets 
            fetched_tweets = self.api.search(q = query, count = count, max_id = max_id) 
  
            # parsing tweets one by one 
            for tweet in fetched_tweets: 
                # empty dictionary to store required params of a tweet 
                if not tweet.retweeted:
                    parsed_tweet = {} 

                    # saving text of tweet 
                    parsed_tweet['text'] = tweet.text 
                    parsed_tweet['date'] = tweet.created_at
                    parsed_tweet['id'] = tweet.id
                    # saving sentiment of tweet 
                    parsed_tweet['sentiment'] = self.get_tweet_sentiment(tweet.text) 

                    # appending parsed tweet to tweets list 
                    if tweet.retweet_count > 0: 
                        # if tweet has retweets, ensure that it is appended only once 
                        if parsed_tweet not in tweets: 
                            tweets.append(parsed_tweet) 
                    else: 
                        tweets.append(parsed_tweet) 

            # return parsed tweets 
            return tweets 
  
        except tweepy.TweepError as e: 
            # print error (if any) 
            print("Error : " + str(e))

In [5]:
def main(): 
    # creating object of TwitterClient Class 
    api = TwitterClient() 
    # calling function to get tweets 
    tweets = api.get_tweets(query = '#Tesla', count = 100, max_id = "1217210436359376890")
#     print(len(tweets))
#     print(type(tweets))
#     print(tweets[0]['date'].date())
#     print(tweets[0]['date'].date() == datetime.date.today())
#     print(tweets)
    # picking positive tweets from tweets 
    ptweets = [tweet for tweet in tweets if tweet['sentiment'] == 'positive'] 
    # percentage of positive tweets 
    print("Positive tweets percentage: {} %".format(100*len(ptweets)/len(tweets))) 
    # picking negative tweets from tweets 
    ntweets = [tweet for tweet in tweets if tweet['sentiment'] == 'negative'] 
    # percentage of negative tweets 
    print("Negative tweets percentage: {} %".format(100*len(ntweets)/len(tweets))) 
    # percentage of neutral tweets 
    print("Neutral tweets percentage: {} % ".format(100*(len(tweets) - len(ntweets) - len(ptweets))/len(tweets))) 
  
    # printing first 5 positive tweets 
    print("\n\n")
    for tweet in tweets:
        print(tweet['id'])
    print("\n\nPositive tweets:") 
    for tweet in ptweets[:10]: 
        print(tweet['text']) 
  
    # printing first 5 negative tweets 
    print("\n\nNegative tweets:") 
    for tweet in ntweets[:10]:
        print(tweet['text'])

In [ ]:
today = datetime.date.today()
week = today - datetime.timedelta(days = 7)
print(today, week)
x = today - week
print(today < week)

In [ ]:
today = datetime.date.today()

scores = {}

day = {'positive':0, 'negative':0, 'neutral':0}
scores[today] = day
scores[today - datetime.timedelta(days = 1)] = day
scores[today - datetime.timedelta(days = 2)] = day
scores[today - datetime.timedelta(days = 3)] = day
scores[today - datetime.timedelta(days = 4)] = day
scores[today - datetime.timedelta(days = 5)] = day
scores[today - datetime.timedelta(days = 6)] = day

In [ ]:
scores

In [6]:
def scores_dict():
    today = datetime.date.today()

    scores = {}

    day = {'positive':0, 'negative':0, 'neutral':0}
    scores[str(today)] = [0,0,0]
    scores[str(today - datetime.timedelta(days = 1))] = [0,0,0]
    scores[str(today - datetime.timedelta(days = 2))] = [0,0,0]
    scores[str(today - datetime.timedelta(days = 3))] = [0,0,0]
    scores[str(today - datetime.timedelta(days = 4))] = [0,0,0]
    scores[str(today - datetime.timedelta(days = 5))] = [0,0,0]
    scores[str(today - datetime.timedelta(days = 6))] = [0,0,0]
    
    return scores

In [7]:
def scores_stat_dict():
    today = datetime.date.today()

    scores = {}

    day = {'positive':0, 'negative':0, 'total':0}
    scores[str(today)] = day
    scores[str(today - datetime.timedelta(days = 1))] = day
    scores[str(today - datetime.timedelta(days = 2))] = day
    scores[str(today - datetime.timedelta(days = 3))] = day
    scores[str(today - datetime.timedelta(days = 4))] = day
    scores[str(today - datetime.timedelta(days = 5))] = day
    scores[str(today - datetime.timedelta(days = 6))] = day
    
    return scores

In [ ]:
str(today)

In [ ]:
day = today - datetime.timedelta(days = 1)
datetime.datetime.strptime(str(day), '%Y-%m-%d')

In [ ]:
sc = {}
print(sc)
sc = scores_stat_dict()
print(sc)
print('/n')
sc['2020-01-14']['positive'] = 1
print(sc)
for key in sc:
    print(type(key))

In [ ]:
sc[str(today)]['positive']

In [8]:
def search_scores(query):
    api = TwitterClient()
    loop = 0
    max_id = None
    last_day_counter = 0
    # approximate 1 hour ID 
    #partition = 17750122401798
    # approximate 8 hour ID increment
    partition = 142000979214384
    scores = scores_dict()
    today = datetime.date.today()
    last_day = str(today - datetime.timedelta(days = 6))
    while loop < 2:
        tweets = api.get_tweets(query = query, count = 100, max_id = max_id)
#         print(tweets)
#         print("/n/n/n/n")
        if (len(tweets) == 0):
            break
        last_tweet = tweets[len(tweets) - 1]
        max_id = str(last_tweet['id'] - partition)
        count = 0
        for tweet in tweets:
            try:
                sentiment = tweet['sentiment']
#                 print(sentiment)
                day_key = str(tweet['date'].date())
                if day_key == last_day:
                    if count == 0:
                        count = 1
                        loop += 1
                elif day_key < last_day:
                    loop = 2
                    break
                if sentiment == 'positive':
                    scores[day_key][0] += 1
                elif sentiment == 'negative':
                    scores[day_key][1] += 1
                elif sentiment == 'neutral':
                    scores[day_key][2] += 1
            except:
                continue
                #print(tweet)
        #print(scores)
    return scores

In [33]:
scores = search_scores('apple')

In [34]:
scores

{'2020-01-16': [32, 8, 60],
 '2020-01-15': [108, 33, 159],
 '2020-01-14': [92, 17, 91],
 '2020-01-13': [68, 31, 201],
 '2020-01-12': [44, 4, 152],
 '2020-01-11': [83, 27, 190],
 '2020-01-10': [59, 21, 120]}

In [35]:
mydict = score_stats(scores)

In [42]:
apple_df = pd.DataFrame.from_dict(mydict).T
apple_df.reset_index(inplace = True)
apple_df.sort_values(by = 'index', inplace = True)
apple_df.rename(columns = {'index':'Date'}, inplace = True)

In [43]:
apple_df

  Date        Date  negative  positive  total
6    0  2020-01-16  0.080000  0.320000  100.0
5    1  2020-01-15  0.110000  0.360000  300.0
4    2  2020-01-14  0.085000  0.460000  200.0
3    3  2020-01-13  0.103333  0.226667  300.0
2    4  2020-01-12  0.020000  0.220000  200.0
1    5  2020-01-11  0.090000  0.276667  300.0
0    6  2020-01-10  0.105000  0.295000  200.0

In [40]:
total_df = apple_df.merge(AAPL_data, how = 'inner', on = 'Date')

In [41]:
total_df

Empty DataFrame
Columns: [Date, 6, 5, 4, 3, 2, 1, 0, Close, Symbol, Sector, Company Name, Price Change]
Index: []

In [9]:
def score_stats(scores):
    stats = {}
    for key in scores:
        stats[key] = {}
        total = scores[key][0] + scores[key][1] + scores[key][2]
        stats[key]['positive'] = scores[key][0]/total
        stats[key]['negative'] = scores[key][1]/total
        stats[key]['total'] = total
    stat_df = pd.DataFrame.from_dict(stats).T
    stat_df.reset_index(inplace = True)
    stat_df.sort_values(by = 'index', inplace = True)
    stat_df.rename(columns = {'index':'Date'}, inplace = True)
    return stat_df

In [10]:
# search, score stats, put that in df

In [11]:
def data_creator_binary(list_of_companies):
    final_data = pd.DataFrame()
    count = 0
    for company in list_of_companies:
        search_results = search_scores(company)
        scores = score_stats(search_results)
        stock_prices = stock_data.find_ticker_data(company)
        stock = stock_data.up_down(stock_prices)
        stock['Date'] = stock['Date'].astype('str')
        total_df = scores.merge(stock, how = 'inner', on = 'Date')
        if count == 0:
            final_data = total_df
            count = 1
        else:
            #print(total_df)
            final_data = pd.concat([final_data,total_df])
    final_df = final_data[['negative', 'positive', 'total','Price Change']]
    final = pd.get_dummies(final_df)
    return final

In [24]:
df20 = stock_data.get_stock_file()
df20.median()

Series([], dtype: float64)

In [12]:
data = data_creator_binary(['Apple Inc', 'Microsoft Corporation'])

/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  if __name__ == '__main__':
/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  if __name__ == '__main__':

In [13]:
data

   negative  positive  total  Price Change_down  Price Change_up
0  0.085890  0.355828  163.0                  0                1
1  0.414365  0.287293  181.0                  0                1
2  0.125000  0.625000  200.0                  1                0
3  0.115000  0.220000  200.0                  1                0
0  0.058824  0.382353   34.0                  1                0
1  0.097222  0.263889   72.0                  0                1
2  0.200000  0.222222   45.0                  1                0
3  0.117647  0.352941   51.0                  0                1

In [72]:
ml_data = data[['negative', 'positive', 'total', 'Close', 'Price Change']]

In [73]:
pd.get_dummies(ml_data)

   negative  positive  total   Close  Price Change_down  Price Change_up
0  0.085890  0.355828  163.0  310.33                  0                1
1  0.414365  0.287293  181.0  316.96                  0                1
2  0.125000  0.630000  200.0  312.68                  1                0
3  0.115000  0.220000  200.0  311.34                  1                0
0  0.058824  0.382353   34.0  161.34                  1                0
1  0.097222  0.263889   72.0  163.28                  0                1
2  0.200000  0.222222   45.0  162.13                  1                0
3  0.117647  0.352941   51.0  163.18                  0                1

In [12]:
apdf = stock_data.find_ticker_data('Apple Inc')

In [ ]:
apdf.iloc[0,0]

In [13]:
apdf

             Close Symbol          Sector Company Name
Date
2019-12-17  280.41   AAPL  Consumer Goods    APPLE INC
2019-12-18  279.74   AAPL  Consumer Goods    APPLE INC
2019-12-19  280.02   AAPL  Consumer Goods    APPLE INC
2019-12-20  279.44   AAPL  Consumer Goods    APPLE INC
2019-12-23  284.00   AAPL  Consumer Goods    APPLE INC
2019-12-24  284.27   AAPL  Consumer Goods    APPLE INC
2019-12-26  289.91   AAPL  Consumer Goods    APPLE INC
2019-12-27  289.80   AAPL  Consumer Goods    APPLE INC
2019-12-30  291.52   AAPL  Consumer Goods    APPLE INC
2019-12-31  293.65   AAPL  Consumer Goods    APPLE INC
2020-01-02  300.35   AAPL  Consumer Goods    APPLE INC
2020-01-03  297.43   AAPL  Consumer Goods    APPLE INC
2020-01-06  299.80   AAPL  Consumer Goods    APPLE INC
2020-01-07  298.39   AAPL  Consumer Goods    APPLE INC
2020-01-08  303.19   AAPL  Consumer Goods    APPLE INC
2020-01-09  309.63   AAPL  Consumer Goods    APPLE INC
2020-01-10  310.33   AAPL  Consumer Goods    APPLE INC
2020-01-13  316.96   AAPL  Consumer Goods    APPLE INC
2020-01-14  312.68   AAPL  Consumer Goods    APPLE INC
2020-01-15  311.34   AAPL  Consumer Goods    APPLE INC

In [10]:
AAPL_data = stock_data.up_down(stock_data.find_ticker_data('Apple Inc'))

In [11]:
AAPL_data

         Date   Close Symbol          Sector Company Name Price Change
13 2020-01-07  298.39   AAPL  Consumer Goods    APPLE INC         down
14 2020-01-08  303.19   AAPL  Consumer Goods    APPLE INC           up
15 2020-01-09  309.63   AAPL  Consumer Goods    APPLE INC           up
16 2020-01-10  310.33   AAPL  Consumer Goods    APPLE INC           up
17 2020-01-13  316.96   AAPL  Consumer Goods    APPLE INC           up
18 2020-01-14  312.68   AAPL  Consumer Goods    APPLE INC         down
19 2020-01-15  311.34   AAPL  Consumer Goods    APPLE INC         down

In [26]:
AAPL_data['Date'].astype('str')

13    2020-01-07
14    2020-01-08
15    2020-01-09
16    2020-01-10
17    2020-01-13
18    2020-01-14
19    2020-01-15
Name: Date, dtype: object

In [39]:
AAPL_data['Date'] = AAPL_data['Date'].astype('str')

In [ ]:
apple_df.index.values

In [ ]:
AAPL_data.iloc[0].index.values

In [31]:
def search_predict(query):
    api = TwitterClient()
    max_id = None
    partition = 142000979214384
    scores = {'today':[0,0,0]}
    
    for i in range(3):
        tweets = api.get_tweets(query = query, count = 100, max_id = max_id)
        if (len(tweets) == 0):
            break

        last_tweet = tweets[len(tweets) - 1]

        max_id = str(last_tweet['id'] - partition)
        
        for tweet in tweets:
            try:
                sentiment = tweet['sentiment']
                if sentiment == 'positive':
                    scores['today'][0] += 1
                elif sentiment == 'negative':
                    scores['today'][1] += 1
                elif sentiment == 'neutral':
                    scores['today'][2] += 1
            except:
                continue
    return scores

In [33]:
x = search_predict('Apple Inc')

In [34]:
score_stats(x)

    Date  negative  positive  total
0  today      0.16  0.233333  300.0

In [ ]:
# 1,217,245,936,604,180,486 at 1/15/20 at 12:43:41 am
# 1,217,228,186,481,778,688 at 1/14/20 at 11:33:33 pm
# Difference = 17750122401798
# max_id1 = 1217210436359376890
# new_start = 1217210168972316673 at 1/14/20 at 10:21:33 pm
# new_end = 1217199298569363456 at 1/14/20 at 9:38:21 pm
# Difference = 10870402953217

In [ ]:
1217228186481778688 - 17750122401798

In [ ]:
1217228186481778688 - 86963223625736

In [ ]:
blah = 1217210168972316673 - 1217199298569363456
blah2 = 17750122401798
print(blah2*8)
print(blah*8)
print(blah)

In [ ]:
17750122401798-10870402953217