In [4]:
from alpha_vantage.timeseries import TimeSeries
from alpha_vantage.techindicators import TechIndicators
from matplotlib.pyplot import figure
import matplotlib.pyplot as plt
import time
# Your key here
key = '1TK2TX0DQ2S3EDLK'
# Chose your output format, or default to JSON (python dict)
ts = TimeSeries(key, output_format='pandas')
ti = TechIndicators(key)
# Get the data, returns a tuple
# NYMX_data is a pandas dataframe, NYMX_meta_data is a dict
stk_list=['AAPL','ADBE','MMM','NYMX','MSFT','AFL','AES']
df_ = []
count=0
for i in stk_list:
    NYMX_data, NYMX_meta_data = ts.get_daily(symbol=i)
    NYMX_data['Name'] = i
    df_.append(NYMX_data)
    if (len(df_)>1):
        df_[0] = df_[0].append(df_[-1])
        df_.pop(-1)
    count+=1
    if (count > 4):
        time.sleep(300)
        count=0
ultimate_df = df_[0]
ultimate_df

            1. open   2. high   3. low  4. close   5. volume  Name
date
2020-01-10  310.600  312.6700  308.250    310.33  34840836.0  AAPL
2020-01-09  307.235  310.4300  306.200    309.63  42621542.0  AAPL
2020-01-08  297.160  304.4399  297.156    303.19  33090946.0  AAPL
2020-01-07  299.840  300.9000  297.480    298.39  27877655.0  AAPL
2020-01-06  293.790  299.9600  292.750    299.80  29644644.0  AAPL
...             ...       ...      ...       ...         ...   ...
2019-08-26   14.850   14.9500   14.775     14.84   2276137.0   AES
2019-08-23   15.200   15.2500   14.720     14.79   3941331.0   AES
2019-08-22   15.280   15.3150   15.020     15.20   3598264.0   AES
2019-08-21   15.240   15.4100   15.190     15.32   3385698.0   AES
2019-08-20   15.350   15.3750   15.100     15.19   6022662.0   AES

[700 rows x 6 columns]